.container{
position: absolute;
width: 1000px;
height: 100px;
left: 200px;
top: 100px;
}

.container h1 {
    /* position: absolute;
width: 600px;
height: 144px;
left: 260px;
top: 233px; */

color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

margin-bottom: 30px;
}

.valid-feedback, .invalid-feedback {
    display: block;
}


.name{
    color: white;
}

.button{
    font-size: 25px;
}